{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-9 mx-auto">
      <!-- Accordion -->	
		<div id="accordionExample" class="accordion shadow">
		{% for question in questions %}	
	      	<div class="card">
	        <!-- Accordion item 1 -->
	          <div id="headingOne" class="card-header bg-white shadow-sm border-0">
	            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block position-relative text-dark text-uppercase collapsible-link py-2">{{ question.question }}</a></h6>
	          </div>
	          <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
	            <div class="card-body p-5">
	              <p class="font-weight-light m-0">{{ question.answer }}</p>
	            </div>
	          </div>      
        	</div>
        {% endfor %} 
      </div>   
    </div>
  </div>
</div>
	
{% endblock content %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>